- var pagePosition = "footer"
style
  include footer.css
footer.footer
  .footer__top
    | верхний футеа
    include ../sticker/sticker
  .footer__bottom.clearfix
    | нижний футер
    .footer__bottom_left левый
    .footer__bottom_right правый